
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    background: linear-gradient(180deg, #0a0319, #1b458f);
    overflow: hidden;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
    animation: fadeIn 1.5s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    animation: slideIn 1s ease-out;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 40px;
    animation: slideIn 1.2s ease-out;
}

@keyframes slideIn {
    from { opacity: 0; transform: translateX(-20px); }
    to { opacity: 1; transform: translateX(0); }
}

.role-selection {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.role-card {
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.role-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.2);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.role-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 20px;
    object-fit: cover;
}

.role-card h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.role-card p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}


@media (max-width: 768px) {
    .container {
        margin: 50px auto;
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .role-selection {
        flex-direction: column;
        align-items: center;
    }

    .role-card {
        width: 80%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 0.9rem;
    }

    .role-card {
        width: 90%;
    }

    .role-card img {
        width: 100px;
        height: 100px;
    }
}

.logo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px; 
}

.favicon {
    width: 80px;  
    height: 80px;
    border-radius: 50%;  
    margin-bottom: 10px; 
}

@media (min-width: 600px) {
    .role-selection {
        flex-direction: row;
        justify-content: center;
    }
    .role-card {
        width: 45%;
    }
}